/* Light */
@font-face {
	font-family: 'ProximaNova';
	src: url('/fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
		url('/fonts/ProximaNova-Light.otf')  format('opentype'),
		url('/fonts/ProximaNova-Light.woff') format('woff'),
		url('/fonts/ProximaNova-Light.ttf')  format('truetype'),
		url('/fonts/ProximaNova-Light.svg#ProximaNova-Light') format('svg');
	font-weight: 300;
	font-style: normal;
	text-rendering: optimizeLegibility;
}

/* Regular */
@font-face {
	font-family: 'ProximaNova';
	src: url('/fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
		url('/fonts/ProximaNova-Regular.otf')  format('opentype'),
		url('/fonts/ProximaNova-Regular.woff') format('woff'),
		url('/fonts/ProximaNova-Regular.ttf')  format('truetype'),
		url('/fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	text-rendering: optimizeLegibility;
}
  
/* Medium */
@font-face {
	font-family: 'ProximaNova';
	src: url('/fonts/ProximaNova-Medium.eot?#iefix') format('embedded-opentype'),
		url('/fonts/ProximaNova-Medium.otf')  format('opentype'),
		url('/fonts/ProximaNova-Medium.woff') format('woff'),
		url('/fonts/ProximaNova-Medium.ttf')  format('truetype'),
		url('/fonts/ProximaNova-Medium.svg#ProximaNova-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
	text-rendering: optimizeLegibility;
}

/* SemiBold */
@font-face {
	font-family: 'ProximaNova';
	src: url('/fonts/ProximaNova-SemiBold.eot?#iefix') format('embedded-opentype'),
		 url('/fonts/ProximaNova-SemiBold.otf')  format('opentype'),
		 url('/fonts/ProximaNova-SemiBold.woff') format('woff'),
		 url('/fonts/ProximaNova-SemiBold.ttf')  format('truetype'),
		 url('/fonts/ProximaNova-SemiBold.svg#ProximaNova-SemiBold') format('svg');
	font-weight: 600;
	font-style: normal;
	text-rendering: optimizeLegibility;
}

/* Bold */
@font-face {
	font-family: 'ProximaNova';
	src: url('/fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
		 url('/fonts/ProximaNova-Bold.otf')  format('opentype'),
		 url('/fonts/ProximaNova-Bold.woff') format('woff'),
		 url('/fonts/ProximaNova-Bold.ttf')  format('truetype'),
		 url('/fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
	text-rendering: optimizeLegibility;
}
  