@media only screen and (max-width: 991px) {
	.mobile_nav,.btn_menu {display: block;}
	.header_inner {height: 80px;}
	.topbar,.topbar .pull-right {height: 0px;}
	.topbar .col-xs-12 {min-height: 0;}
	.topbar_contact,.menu {display: none;}
	.btn_search {position: absolute; top: 31px; right: 15px; z-index: 10; font-size: 18px; color: #fff;}
	.search {top: 25px; right: 15px;}
	.is-open .search {width: calc(100% - 30px);}
	#header.is-open .btn_search, #header.is-open .logo, #header.is-open .btn_menu {transform: scale(0);}
	.logo {line-height: 80px;}
	#slider .item .caption h2 {font-size: 13px; font-weight: 400;}
	#slider .item .caption h3 {margin-top: 12px; font-size: 17px; font-weight: 600;}
	#slider .item .caption p {font-size: 15px; font-weight: 400;}
	#slider .item .caption a.btn_more {margin-top: 15px;}
	#slider .owl-nav div {width: 30px; height: 30px; margin-top: -15px; font-size: 15px; line-height: 30px;}
	#slider .owl-nav div.owl-prev {left: 10px;}
	#slider .owl-nav div.owl-next {right: 10px}
	#slider .owl-dots {bottom: 15px;}
	#slider .owl-dots .owl-dot {width: 8px; height: 8px; margin-right: 10px; border-width: 1px}
	a.btn_more {width: 90px; height: 34px; font-size: 14px; line-height: 34px;}
	.promotion_video {padding: 20px 0;}
	.promotion_video .inner h3 {margin-bottom: 6px; font-size: 18px;}
	.promotion_video .inner p {font-size: 14px;}
	.promotion_video figure {margin-top: 15px;}
	.banner .inner span {margin-bottom: 10px; font-size: 16px;}
	.head_title h1 {font-size: 24px;}
	.head_title a.all_read {font-size: 14px;}
	.product_box h2 {font-size: 26px;}
	#productscarousel .owl-nav div {width: 30px; height: 30px; margin-top: -15px; line-height: 30px; font-size: 14px;}
	.product_box figure {width: 200px;}
	.enterprises .box h2,.enterprises .col-md-4 .box h2 {font-size: 30px;}
	.partners figure {text-align: center;}
	#partners .owl-nav div.owl-prev {left: 10px;}
	#partners .owl-nav div.owl-next {right: 10px;}
	.contact_wrapper .pr0 {padding-right: 15px!important;}
	.contact_wrapper .pl0 {padding-left: 15px!important;}
	.map {border-radius: 10px 10px 0 0;}
	.contact_info {padding: 30px; flex-direction: column;}
	.contact_info span.line {width: 100%; height: 1px; margin: 20px 0;}
	.contact_info .box span.lbl {font-size: 18px;}
	.contact_info .box span.val {font-size: 14px;}
	.tenders .table_style.responsive-table {padding: 5px; overflow-x: auto;}
}

@media only screen and (max-width: 767px) {
	.xs-mb-20 {margin-bottom: 20px;}
	#slider img {min-height: 230px; object-fit: cover;}
	.banner img {min-height: 80px; object-fit: cover;}
	.banner .inner span {font-size: 13px;}
	.head_title h1 {font-size: 18px;}
	.product_box {height: 210px;}
	.product_box h2 {margin-bottom: 8px;}
	.product_box .btn_more {margin-top: 14px;}
	.product_box figure {width: 125px;}
	.count_section .box {width: calc((100% - 20px) / 2); margin-right: 20px;}
	.count_section .box:nth-child(2n) {margin-right: 0;}
	.enterprises .box {margin-bottom: 20px;}
	.enterprises .box h2,.enterprises .col-md-4 .box h2 {font-size: 18px;}
	.enterprises .box p {margin-top: 5px; font-size: 12px;}
	.enterprises .box a.btn_more_empty {margin-top: 15px;}
	.news_list .box a .body h2 {font-size: 16px;}
	.main_wrapper {padding-bottom: 50px;}
	.footer_social {display: none;}
	#footer {padding: 20px 0 0;}
	.footer_menu h4 {font-size: 14px;}
	.footer_menu ul li a {font-size: 12px;}
	.copyright, .author {width: 100%;}
	.author {margin-top: 10px;}
	.pdf_download {margin-bottom: 30px;}
	.other_products .box h2 {margin-top: 20px; font-size: 20px;}
	.faq .item .head h2 {font-size: 14px; line-height: 1.4;}
	.orange_content_block.photo_block .col-sm-7 {padding: 0 35px;}
	.page_menu a,.page_menu a.active {padding: 5px 10px 15px; font-size: 14px;}
	.leader_info {padding: 15px;}
	.leader_info h2 {font-size: 16px;}
	.leader_info span {font-size: 13px;}
	.leader_appeal h2.title,.news_detail h1.title {font-size: 22px;}
	.branchs  {padding: 20px;}
	.branch_info {margin-top: 40px;}
	.sxem .inner {
		overflow-x: auto;
	}
	.sxem .responsive_layout {
		width: 760px;
		margin: 0 auto;
	}
}

@media only screen and (max-width: 480px) {
	.col-mob-12 {width: 100%;}
	.col-mob-6 {width: 50%;}
	.enterprises .box p {display: none;}
	.form {padding: 45px 15px;}
	.orange_content_block .title img,.grey_content_block .title img {width: 30px;}
	.orange_content_block .title h1,.grey_content_block .title h1,.technique_head h1.title {font-size: 18px;}
	.orange_content_block ul.list li,.grey_content_block .text {font-size: 12px;}
	.other_products .box h2 {font-size: 18px;}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.count_section .box {width: 206px; margin-right: 50px;}
	.count_section .box:nth-child(3n) {margin-right: 0;}
}


@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.menu>ul>li {margin-right: 10px;}
	#slider .item .caption h3 {font-size: 40px;}
	.count_section .box {width: 148px; margin-right: 10px;}
}