@media only screen and (max-width: 991px) {
    #slider .item .caption h1.frst {font-size: 13px; font-weight: 400;}
    #slider .item .caption h1.lst {margin-top: 12px; font-size: 17px; font-weight: 600;}
    .head_title h2.ns {font-size: 24px;}
}

@media only screen and (max-width: 767px) {
    .leader_appeal h1.title {font-size: 22px;}
    .head_title h2.ns {font-size: 18px;}
}

@media only screen and (max-width: 480px) {

}

@media only screen and (min-width: 768px) and (max-width: 991px) {

}


@media only screen and (min-width: 992px) and (max-width: 1199px) {
    #slider .item .caption h1.frst  {font-size: 40px;}

}