html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
html, body {height: 100%;}

body {
	background: #EBEFF3;
	font-size: 100%;
	font-family: "ProximaNova", Arial, Tahoma, Verdana, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a, a:active , a:focus {
	outline: 0;
	text-decoration: none;
}

a:hover {
	color: inherit;
	outline: 0;
	text-decoration: none;
}

* {
	outline: none;
}

strong {
	font-weight: 600;
}

img {
	max-width: 100%;
	vertical-align: middle;
}

.noscroll {
	overflow: hidden;
}

.vertical-center {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	transform: translateY(-50%);
}

.vt {
	vertical-align: top;
}

.w2 {
	width: 50%;
}

/* MobileNav Begin */
.mobile_nav {
	display: none;
	position: fixed;
	top: 0;
	left: -100vw;
	bottom: 0;
	z-index: 99999;
	width: calc(100% - 75px);
	overflow: hidden;
	background: #fff;
	transition: left 0.3s ease-in;
}

.mobile_nav.is-open {
	left: 0;
}

.mobile_nav  span.close {
	display: block;
	width: 18px;
	height: 18px;
	opacity: 1;
	background: url(../images/icon/icon-close.svg) no-repeat center;
	background-size: 100%;
	position: absolute;
	top: 30px;
	right: 20px;
	z-index: 20;
}

.lang_panel {
	position: relative;
	display: flex;
	height: 50px;
	margin-top: 80px;
	padding: 0 10px 0 33px;
	align-items: center;
	background: #283847;
}

.lang_panel a {
	font-size: 15px;
	font-weight: 400;
	line-height: 17px;
	color: #fff;
	text-transform: uppercase;
}

.lang_panel span {
	width: 1px;
	height: 17px;
	margin: 0 17px;
	background: #fff;
}

.mobile_nav .body {
	position: relative;
	height: calc(100vh - 130px);
	overflow-y: auto;
}

.mobile_nav .body ul {
	margin: 0;
}

.mobile_nav .body>ul>li:last-child {
	margin-bottom: 0;
}

.mobile_nav .body>ul>li>a {
	display: flex;
	padding: 18px 15px;
	font-size: 14px;
	font-weight: 500;
	line-height: 1;
	color: #283847;
	align-items: center;
}

.mobile_nav .body>ul>li.active>a {
	color: #F5780D;
}

.mobile_nav .body>ul>li>a i {
	margin-left: 5px;
	transition: 500ms ease;
}

.mobile_nav .body>ul>li.active>a i {
	transform: rotate(-180deg);
}

.mobile_nav .body>ul>li ul {
	display: none;
	background: rgba(40, 56, 71, 0.1);
}

.mobile_nav .body>ul>li li a {
	display: block;
	padding: 18px 15px;
	font-size: 13px;
	font-weight: 400;
	color: #283847;
}

.mobile_nav .social {
	padding: 15px;
}

.mobile_nav .social a {
	float: left;
	width: 30px;
	height: 30px;
	margin-right: 20px;
	font-size: 14px;
	line-height: 30px;
	text-align: center;
	color: #283847;
	border: 1px solid #283847;
	border-radius: 50%;
}
/* MobileNav End */

/* Header Begin */
.topbar {
	position: relative;
	height: 46px;
	background: #fff;
}

.topbar_contact {
	display: flex;
	float: left;
	height: 46px;
	margin: 0;
	align-items: center;
}

.topbar_contact li {
	margin-right: 38px;
	font-size: 13px;
	font-weight: 400;
	line-height: 1;
	color: #F5780D;
}

.topbar_contact li:last-child {
	margin-right: 0;
}

.topbar .pull-right {
	display: flex;
	height: 46px;
	align-items: center;
}

.search {
	position: absolute;
	top: 7px;
	right: 60px;
	height: 32px;
	width: 0px;
	overflow: hidden;
	z-index: 30;
	opacity: 0;
	visibility: hidden;
	background: #fff;
	border: 1px solid #283847;
	border-radius: 16px;
	transition: all 0.15s ease-in;
}

.search form {
	height: 30px;
}

.is-open .search {
	opacity: 1;
	visibility: visible;
	width: 300px;
	transition: all 0.15s ease-out;
}

.search input[type="text"] {
	display: block;
	width: 100%;
	height: 30px;
	padding: 0 35px;
	font-size: 14px;
	font-weight: 300;
	line-height: 32px;
	color: #C4C4C4;
	background: transparent;
	border: none;
}

.search button[type="submit"] {
	position: absolute;
	top: 50%;
	left: 15px;
	z-index: 20;
	transform: translateY(-50%);
	display: block;
	margin-top: 0;
	padding: 0;
	font-size: 12px;
	line-height: 1;
	color: #F5780D;
	background: none;
	border: none;
}

.search .close {
	display: block;
	width: 18px;
	height: 18px;
	background: url(../images/icon/icon-search-clear.svg) no-repeat center;
	cursor: pointer;
	position: absolute;
	top: 50%;
	right: 15px;
	z-index: 20;
	transform: translateY(-50%);
	opacity: 1;
}

.btn_search {
	display: block;
	padding: 0;
	font-size: 13px;
	color: #283847;
	border: 0;
	background: transparent;
	transition: transform 500ms ease;
}

.lang {
	position: relative;
	margin-left: 20px;
}

.lang span {
	float: left;
	width: 100%;
	font-size: 14px;
	font-weight: 400;
	line-height: 1;
	color: #F5780D;
	text-align: right;
	text-transform: uppercase;
	cursor: pointer;
}

.lang span i  {
	margin-left: 6px;
	font-size: 13px;
}

.lang_list {
	position: absolute;
	top: 30px;
	right: 0;
	z-index: 200;
	width: 46px;
	padding: 0;
	background: #fff;
	overflow: hidden;
	opacity: 0;
	border: 1px solid #F5780D;
	border-radius: 0 0 5px 5px;
	transition: all 500ms ease;
	-webkit-transform: perspective(400) rotate3d(1, 0, 0, -90deg);
	-webkit-transform-origin: 50% 0%;
}

.lang_list.open {
	opacity: 1;
	-webkit-transform: perspective(400) rotate3d(0, 0, 0, 0);
}

.lang_list a {
	display: block;
	font-size: 13px;
	font-weight: 400;
	line-height: 30px;
	color: #283847;
	text-align: center;
}

.lang_list a:last-child {margin-bottom: 0;}

.lang_list a:hover {
	color: #F5780D;
}

.header_inner {
	position: relative;
	height: 70px;
	background: #283847;
}

.logo {
	float: left;
	line-height: 70px;
	transition: transform 500ms ease;
}

.logo img {
	width: 71px;
}

.btn_menu {
	display: none;
	float: left;
	width: 21px;
	height: 19px;
	margin-top: 30px;
	margin-right: 25px;
	padding: 0;
	background: url(../images/icon/icon-menu.svg) no-repeat left top;
	border: 0;
	transition: transform 500ms ease;
}

.menu {
	float: right;
	display: flex;
	margin-top: 28px;
}

.menu ul {
	margin: 0;
}

.menu>ul>li {
	position: relative;
	float: left;
	margin-right: 30px;
}

.menu>ul>li.sub {
	padding-bottom: 27px;
}

.menu>ul>li:last-child {
	margin: 0;
}

.menu>ul>li>a {
	font-size: 14px;
	font-weight: 400;
	line-height: 1;
	color: #fff;
	transition: color 500ms ease;
}

.menu>ul>li:hover>a {
	color: #F5780D;
}

.menu>ul>li>a i {
	margin-left: 5px;
	font-size: 13px;
}

.menu>ul>li.sub ul {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 400;
	width: 200px;
	padding: 12px 0;
	overflow: hidden;
	background: #fff;
	border: 1px solid #F5780D;
	border-radius: 0 0 5px 5px;
	visibility: hidden;
	opacity: 0;
	transition: all 500ms ease;
}

.menu>ul>li.sub:hover ul {
	visibility: visible;
	opacity: 1;
}

.menu>ul>li:last-child.sub ul {
	right: 0;
	left: inherit;
}

.menu>ul>li.sub ul li {
	margin-bottom: 18px;
	line-height: 1;
}

.menu>ul>li.sub ul li:last-child {
	margin: 0;
}

.menu>ul>li.sub ul li a {
	position: relative;
	display: block;
	padding: 0 10px;
	font-size: 13px;
	font-weight: 400;
	line-height: 1;
	color: #283847;
	z-index: 20;
	background: #fff;
	transition: 500ms ease;
}

.menu>ul>li.sub ul li a:after,
.menu>ul>li.sub ul li a:after {
	content: "";
	display: block;
	width: 7px;
	height: 7px;
	background: #F5780D;
	position: absolute;
	top: 50%;
	left: -8px;
	transform: translateY(-50%) rotate(45deg);
	z-index: 10;
	transition: 300ms ease;
}

.menu>ul>li.sub ul li.active a:after,
.menu>ul>li.sub ul li a:hover:after {
	left: -3px;
}

.menu>ul>li.sub ul li.active a,
.menu>ul>li.sub ul li a:hover {
	color: #F5780D;
	padding-left: 15px;
}
/* Header End */

/* Slider Begin */
#slider {
	min-height: 200px;
	background: #231F20;
}

#slider .item {
	position: relative;
}

#slider .item img {
	width: 100%;
}

#slider .item .caption {
	display: flex;
	align-items: center;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 30;
	background: rgba(0, 0, 0, 0.5);
}

#slider .item .caption h2 {
	margin: 0;
	font-size: 16px;
	font-weight: 500;
	line-height: 1;
	color: #fff;
}

#slider .item .caption h3 {
	margin: 20px 0 12px;
	font-size: 50px;
	font-weight: 500;
	line-height: 1.1;
	color: #fff;
}

#slider .item .caption p {
	margin: 0;
	font-size: 24px;
	font-weight: 500;
	line-height: 1.3;
	color: #fff;
}

#slider .item .caption a.btn_more {
	margin-top: 30px;
}

#slider .owl-nav div {
	position: absolute;
	top: 50%;
	z-index: 30;
	width: 58px;
	height: 58px;
	margin-top: -29px;
	font-size: 33px;
	color: #231F20;
	line-height: 58px;
	text-align: center;
	background: rgba(255, 255, 255, 0.39);
	border-radius: 50%;
	transition: 500ms linear;
}

#slider .owl-nav div.owl-prev {left: 20px;}
#slider .owl-nav div.owl-next {right: 20px}

#slider .owl-nav div:hover {
	background: rgba(255, 255, 255, 07);
}

#slider .owl-dots {
	position: absolute;
	bottom: 35px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 30;
}

#slider .owl-dots .owl-dot {
	float: left;
	width: 12px;
	height: 12px;
	margin-right: 20px;
	border: 2px solid #fff;
	border-radius: 50%;
	transition: 500ms ease;
}

#slider .owl-dots .owl-dot:hover {
	background: #fff;
	opacity: 0.6;
}

#slider .owl-dots .owl-dot.active {
	background: #fff;
	opacity: 1;
}

#slider .owl-dots .owl-dot:last-child {
	margin: 0;
}

a.btn_more {
	position: relative;
	display: block;
	width: 122px;
	height: 40px;
	font-size: 16px;
	font-weight: 500;
	line-height: 38px;
	color: #fff;
	text-align: center;
	overflow: hidden;
	border: 1px solid #0068C2;
	border-radius: 5px;
}

a.btn_more span {
	position: relative;
	z-index: 10;
}

a.btn_more:before,
a.btn_more:after {
	content: "";
	display: block;
	width: 50%;
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: 1;
	background: #0068C2;
	transition: 500ms ease;
}

a.btn_more:before {left: 0;}
a.btn_more:after {right: 0;}

a.btn_more:hover:before,
a.btn_more:hover:after {
	width: 0px;
}
/* Slider End */

/* PromotionVideo Begin */
.promotion_video {
	position: relative;
	padding: 50px 0;
}

.promotion_video .inner {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.promotion_video .inner h3 {
	margin: 0 0 25px;
	font-size: 44px;
	font-weight: 500;
	line-height: 1;
	color: #283847;
}

.promotion_video .inner p {
	margin: 0;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.5;
	color: #283847;
}

.promotion_video figure a {
	position: relative;
	display: block;
	width: 100%;
}

.promotion_video figure a img {
	width: 100%;
}

.promotion_video figure a:after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 30;
	background: rgba(35, 31, 32, 0.2);
}

.promotion_video figure a:before {
	content: "";
	display: block;
	width: 70px;
	height: 70px;
	background: url(../images/icon/icon-play-btn.svg) no-repeat center;
	background-size: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 50;
	transform: translate(-50%, -50%);
}
/* PromotionVideo End */

/* CountSection Begin */
.count_section {
	position: relative;
	padding: 50px 0 30px;
	overflow: hidden;
	background-color: #283847;
	background-image: url(../images/bg/count-section-bg.png);
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.count_section:after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 30;
	background: rgba(40, 56, 71, 0.73);
}

.count_section .col-xs-12 {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	z-index: 40;
}

.count_section .box {
	position: relative;
	width: 170px;
	margin-right: 24px;
	margin-bottom: 20px;
	border: 1px dashed #fff;
	border-radius: 50%;
	transition: 500ms ease;
}

.count_section .box .inner {
	position: relative;
	padding-bottom: 100%;
}

.count_section .box .inner .body {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.count_section .box:last-child {
	margin-right: 0;
}

.count_section .box:hover {
	border-style: solid;
}

.count_section .box figure {
	width: 45px;
	height: 45px;
	text-align: center;
	line-height: 45px;
}

.count_section .box span.count {
	margin-top: 15px;
	font-size: 34px;
	font-weight: 600;
	line-height: 1;
	color: #fff;
}

.count_section .box span.txt {
	margin-top: 7px;
	font-size: 16px;
	font-weight: 600;
	line-height: 1;
	color: #fff;
}
/* CountSection End */

.main_wrapper {
	position: relative;
	padding: 40px 0 70px;
}

/* Banner Begin */
.banner {
	position: relative;
}

.banner img {
	width: 100%;
}

.banner .inner {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 20;
	background: rgba(40, 56, 71, 0.6);
}

.banner .inner span {
	margin-bottom: 24px;
	font-size: 24px;
	font-weight: 400;
	line-height: 1;
	color: #fff;
}

.banner .inner span:last-child {
	margin: 0;
}
/* Banner End */

/* HeadTitle Begin */
.head_title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 30px;
}

.head_title h1 {
	margin: 0;
	font-size: 36px;
	font-weight: 600;
	line-height: 1;
	color: #283847;
}

.head_title.small h1 {
	font-size: 22px;
}

.head_title h1:after {
	content: "";
	display: block;
	width: 68px;
	height: 3px;
	margin-top: 4px;
	background: url(../images/bg/title_bg.svg) no-repeat left top;
}

.head_title.small h1:after {
	margin-top: 10px;
	background: url(../images/bg/title_bg_small.svg) no-repeat left top;
}

.head_title a.all_read {
	height: auto;
	padding-right: 22px;
	font-size: 16px;
	font-weight: 500;
	line-height: 1;
	background: url(../images/arrow/right-arrow.svg) no-repeat right center;
	transition: color 500ms ease;
}

.head_title a.all_read:hover {
	color: #1C578B;
}
/* HeadTitle End */

/* MainProducts Begin */
.main_products {
	position: relative;
	padding: 45px 0 0;
}

.product_box {
	position: relative;
	display: flex;
	align-items: center;
	height: 300px;
	padding: 25px;
	padding-left: 50px;
	background: #DDF1D5;
	border-radius: 10px;
}

.product_box .caption {
	flex: 1;
}

.product_box .btn_more {
	margin-top: 40px;
	border-color: #fff;
}

.product_box h2 {
	margin: 0 0 18px;
	font-size: 44px;
	font-weight: 600;
	line-height: 1;
}

.product_box p {
	margin: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.4;
	color: #2E2D2C;
}

.product_box a.btn_more:before,
.product_box a.btn_more:after {
	background: #fff;
}

.product_box figure {
	width: 266px;
	margin-left: 9px;
}

.product_box.clr_green {background: #DDF1D5;}
.product_box.clr_orange {background: #FEE7D5;}
.product_box.clr_red {background: #FCE0DF;}
.product_box.clr_blue {background: #DBE5F3;}
.product_box.clr_pink {background: #F2DEFF;}

.product_box.clr_green h2,.product_box.clr_green .btn_more {color: #3E9F17;}
.product_box.clr_orange h2,.product_box.clr_orange .btn_more {color: #F5780D;}
.product_box.clr_red h2,.product_box.clr_red .btn_more {color: #FE5852;}
.product_box.clr_blue h2,.product_box.clr_blue .btn_more {color: #3A4D5E;}
.product_box.clr_pink h2,.product_box.clr_pink .btn_more {color: #B465F1;}

#productscarousel .owl-nav div {
	position: absolute;
	top: 50%;
	z-index: 30;
	width: 36px;
	height: 36px;
	margin-top: -18px;
	font-size: 19px;
	color: #231F20;
	line-height: 36px;
	text-align: center;
	background:#fff;
	border-radius: 50%;
	transition: 500ms linear;
}

#productscarousel .owl-nav div.owl-prev {left: 8px;}
#productscarousel .owl-nav div.owl-next {right: 8px}

#productscarousel .owl-nav div:hover {
	background: rgba(255, 255, 255, 07);
}
/* MainProducts End */

/* Enterprises Begin */
.enterprises .box {
	position: relative;
	margin-bottom: 30px;
	overflow: hidden;
	border-radius: 10px;
}

.enterprises .box .inner {
	content: "";
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10;
	padding: 10px 35px;
	background: rgba(40, 56, 71, 0.52);
}

.enterprises .box h2 {
	margin: 0;
	font-size: 40px;
	font-weight: 600;
	line-height: 1.3;
	color: #fff;
}

.enterprises .col-md-4 .box h2 {
	font-size: 36px;
}

.enterprises .box img {
	width: 100%;
	transition: 0.3s linear;
}

.enterprises .box:hover img {
	transform: scale(1.05,1.05);
}

.enterprises .box p {
	margin: 15px 0 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.5;
	color: #fff;
}

a.btn_more_empty {
	position: relative;
	display: block;
	width: 122px;
	height: 40px;
	font-size: 16px;
	font-weight: 500;
	line-height: 38px;
	margin-top: 25px;
	color: #fff;
	text-align: center;
	overflow: hidden;
	border: 1px solid #fff;
	border-radius: 5px;
	transition: color 500ms ease;
}

a.btn_more_empty:hover {
	color: #231F20;
}

a.btn_more_empty span {
	position: relative;
	z-index: 10;
}

a.btn_more_empty:before,
a.btn_more_empty:after {
	content: "";
	display: block;
	width: 0px;
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: 1;
	background: #fff;
	transition: 500ms ease;
}

a.btn_more_empty:before {left: 0;}
a.btn_more_empty:after {right: 0;}

a.btn_more_empty:hover:before,
a.btn_more_empty:hover:after {
	width: 50%;
}
/* Enterprises End */

/* NewsList Begin */
.news_list .box {
	position: relative;
	margin-bottom: 30px;
}

.news_list .box a {
	display: block;
	background: #fff;
	border-radius: 10px;
	overflow: hidden;
	transition: 600ms ease;
}

.news_list .box a:hover {
	box-shadow: 5px 10px 15px 0px rgba(40,56,71,0.16);
}

.news_list .box a figure img {
	width: 100%;
}

.news_list .box a .body {
	padding: 20px;
}

.news_list .box a .body h2 {
	margin: 0;
	font-size: 17px;
	font-weight: 600;
	line-height: 1.4;
	color: #283847;
}

.news_list .box a .body p {
	margin: 10px 0 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.4;
	color: #737E88;
}

.news_list .box a .body span.date {
	display: block;
	margin-top: 15px;
	padding-left: 15px;
	font-size: 12px;
	font-weight: 400;
	line-height: 14px;
	color: #B0B4B7;
	background: url(../images/icon/icon-calendar.svg) no-repeat left top 1px;
}
/* NewsList End */

/* Partners Begin */
.partners {
	position: relative;
	height: 90px;
	background: #fff;
}

.partners figure {
	line-height: 90px;
}

.partners figure img {
	display: inline!important;
	width: auto!important;
}

#partners .owl-nav div {
	position: absolute;
	top: 50%;
	z-index: 30;
	transform: translateY(-50%);
	font-size: 27px;
	color: #231F20;
	line-height: 1;
	text-align: center;
	transition: 500ms linear;
}

#partners .owl-nav div.owl-prev {left: -98px;}
#partners .owl-nav div.owl-next {right: -98px;}

#partners .owl-nav div:hover {
	opacity: 0.6;
}
/* Partners End */

/* Footer Begin */
#footer {
	position: relative;
	padding: 40px 0 0;
	background: #283847;
}

.break_col {
	float: left;
	width: 100%;
	height: 1px;
}

.footer_menu {
	margin: 0 0 30px;
}

.footer_menu h4 {
	margin: 0 0 15px;
	font-size: 18px;
	font-weight: 700;
	line-height: 1;
	color: #F5780D;
}

.footer_menu h4 a {
	color: #F5780D;
}

.footer_menu h4 a:hover {
	text-decoration: none;
}

.footer_menu ul {
	margin: 0;
}

.footer_menu ul li {margin-bottom: 10px;}
.footer_menu ul li:last-child {margin-bottom: 0;}

.footer_menu ul li a {
	font-size: 16px;
	font-weight: 400;
	line-height: 1;
	color: #fff;
	transition: color 500ms ease;
}

.footer_menu ul li a:hover {
	color: #F5780D;
}

.footer_social {
	float: left;
	padding-top: 0;
}

.footer_social a {
	float: left;
	width: 30px;
	height: 30px;
	margin-right: 20px;
	font-size: 13px;
	color: #fff;
	line-height: 30px;
	text-align: center;
	border: 1px solid #fff;
	border-radius: 50%;
	transition:  600ms ease;
}

.footer_social a i {
	line-height: 30px;
}

.footer_social a:last-child {margin-right: 0;}

.footer_social a:hover {
	color: #F5780D;
	border-color: #F5780D;
}

#footer .bottom {
	margin-top: 7px;
	padding: 17px 0;
	border-top: 1px solid #2E4051;
}

.copyright {
	float: left;
	margin: 0;
	font-size: 13px;
	font-weight: 400;
	line-height: 1;
	color: #fff;
}

.author {
	float: right;
	font-size: 13px;
	font-weight: 400;
	line-height: 1;
	color: #fff;
}

.author a {
	color: #fff;
	font-weight: 700;
	transition: color 500ms ease;
}

.author a:hover {
	color: #F5780D;
}
/* Footer End */

/* PageWrapper */
.page_wrapper {
	position: relative;
	padding: 20px 0 100px;
}

/* BreadCrumbs Begin */
.breadcrumbs {
	margin-bottom: 20px;
}

.breadcrumbs .inner {
	display: inline-flex;
	padding: 10px 20px;
	align-items: center;
	background: #fff;
	border-radius: 16px;
	box-shadow: 0px 3px 6px 0px rgba(40,56,71,0.11);
}

.breadcrumbs .inner a,
.breadcrumbs .inner span {
	font-size: 12px;
	font-weight: 300;
	line-height: 1;
	color: #283847;
	transition: color 500ms ease;
}

.breadcrumbs .inner i {
	font-size: 13px;
	line-height: 12px;
	margin: 0 7px;
}

.breadcrumbs .inner a:hover {
	color: #F5780D;
}
/* BreadCrumbs End */

/* Years Begin */
.years {
	position: relative;
	display: flex;
	margin-bottom: 35px;
	padding-bottom: 14px;
	justify-content: center;
	border-bottom: 1px solid rgba(115, 126, 136, 0.15);
}

.years a {
	position: relative;
	margin-right: 33px;
	font-size: 13px;
	font-weight: 400;
	line-height: 1;
	color: #737E88;
}

.years a:last-child {
	margin: 0;
}

.years a.active {
	color: #283847;
	font-weight: 500;
}

.years a:after {
	content: "";
	display: block;
	width: 12px;
	height: 12px;
	position: absolute;
	left: 50%;
	bottom: -20px;
	margin-left: -6px;
	background: #EBEFF3;
	border: 2px solid #737E88;
	border-radius: 6px;
}

.years a.active:after {
	border-color: #283847;
	background: #283847;
}
/* Years End */

/* Pagination Begin */
.pag {
	position: relative;
	display: flex;
	padding: 10px 0 0;
	justify-content: center;
}

.pag ul {
	display: inline-flex;
	height: 38px;
	margin: 0;
	background: #fff;
	border-radius: 19px;
	box-shadow: 0px 3px 6px 0px rgba(40,56,71,0.11);
}

.pag ul li {
	margin: 0 2px;
}

.pag ul li:last-child {margin: 0;}

.pag ul li {
	display: flex;
	min-width: 26px;
	height: 38px;
	padding: 0 2px;
	font-size: 15px;
	font-weight: 500;
	line-height: 1;
	color: #283847;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid transparent;
	transition: color 500ms ease;
}

.pag ul li a {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	color: #283847;
}

.pag ul li a:hover {color: #0068C2;}

.pag ul li.active {
	color: #0068C2;
	border-color: #0068C2;
}

.pag ul li.prev,
.pag ul li.prev a,
.pag ul li.next a {
	width: 33px;
	font-size: 20px;
	color: #F5780D;
}

.pag ul li.prev {
	border-right: 1px solid #EBEFF3;
}

.pag ul li.next {
	border-left: 1px solid #EBEFF3;
}

.pag ul li.dotted {
	min-width: auto;
	padding: 0;
}

.pag ul li.disabled i {
	opacity: 0.5;
}
/* Pagination End */

/* Contact Begin */
.contact {

}

.contact h1.title {
	margin: 0;
	font-size: 30px;
	font-weight: 600;
	line-height: 1;
	color: #283847;
	text-align: center;
}

.contact_info {
	position: relative;
	display: flex;
	min-height: 143px;
	margin-top: 30px;
	padding: 30px 45px;
	background: #fff;
	border: 1px solid #283847;
	border-radius: 10px;
}

.contact_info span.line {
	width: 1px;
	height: 81px;
	margin: 0 44px;
	background: #DDDEDF;
}

.contact_info .box {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.contact_info .box span.lbl {
	font-size: 24px;
	font-weight: 500;
	line-height: 1;
	color: #283847;
}

.contact_info .box span.val {
	margin-top: 8px;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.4;
	color: #737E88;
}

.map {
	position: relative;
	height: calc(100% - 6px);
	margin: 3px;
	overflow: hidden;
	background: #fff;
	border-radius: 10px 0 0 10px;
}

#map {
	min-height: 300px;
	height: 100%;
}

.contact_wrapper {
	margin-top: 30px;
	overflow: hidden;
	background: #fff;
	border-radius: 10px;
}
/* Contact End */

/* Form Begin */
.form {
	position: relative;
	padding: 40px 45px;
	background: #fff;
	border-radius: 10px;
}

.form h1 {
	margin: 0 0 25px;
	font-size: 20px;
	font-weight: 600;
	line-height: 1;
	color: #283847;
	text-align: center;
}

.form .item {
	margin-bottom: 20px;
}

.form.space30 .item {
	margin-bottom: 31px;
}

.form .item:last-child {
	margin: 0;
}

.form .ipt_style {
	display: block;
	width: 100%;
	height: 40px;
	padding: 0 20px;
	font-size: 14px;
	font-weight: 400;
	line-height: 1;
	color: #737E88;
	background: #FAFAFA;
	border: 1px solid #DDDEDF;
	border-radius: 5px;
}

.form textarea.ipt_style {
	height: 210px;
	padding: 12px 20px;
	resize: none;
}

.form textarea.ipt_style.h150 {
	height: 150px;
}

.form button[type="submit"] {
	float: right;
	width: 140px;
	height: 40px;
	font-size: 14px;
	font-weight: 600;
	line-height: 1;
	color: #fff;
	background: #18D3A6;
	border: 0;
	border-radius: 5px;
	transition: background 600ms ease;
}

.form button[type="submit"]:hover {
	background: #18AF8A;
}

.form .checkbox {
	margin: 0;
	display: inline-flex;
	align-items: center;
}

.form .css-checkbox + label.css-label {
	float: left;
	display: block;
	height: 15px;
	margin: 0 30px 0 0;
	padding-left: 22px;
	font-size: 14px;
	font-weight: 400;
	line-height: 17px;
	color: #737E88;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: left top;
	background-size: 15px;
}

.form .css-checkbox:checked + label.css-label {
	background-image: url(../images/icon/icon-radiobox-on.svg);
}

.form .css-checkbox + label.css-label {
	background-image: url(../images/icon/icon-radiobox-off.svg);
}

.success_form {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 10;
	background: #2CD29F;
	text-align: center;
}

.form .success_form {
	border-radius: 10px;
}

.success_form i {
	display: block;
	width: 110px;
	height: 110px;
	margin: 0 auto;
	background: url(../images/icon/icon-success.svg) no-repeat center;
	background-size: 100%;
}

.success_form p {
	margin: 15px 0 0;
	font-size: 18px;
	font-weight: 600;
	line-height: 1.1;
	color: #fff;
}

.success_form span.back {
	position: absolute;
	bottom: 30px;
	left: 50%;
	transform: translatex(-50%);
	z-index: 30;
	font-size: 20px;
	font-weight: 600;
	line-height: 1;
	color: #fff;
	cursor: pointer;
	text-decoration: underline;
}

.success_form span.back:hover {
	text-decoration: none;
}
/* Form End */

/* FAQ Begin */
.faq {
	padding: 0 0 30px;
}

.faq .item {
	position: relative;
	margin-bottom: 10px;
	background: #fff;
	border-radius: 5px;
	transition: box-shadow 500ms ease;
}

.faq .item:last-child {
	margin-bottom: 0;
}

.faq .item .head {
	position: relative;
	padding: 25px 20px 25px 90px;
	cursor: pointer;
}

.faq .item .head i {
	position: relative;
	display: block;
	width: 28px;
	height: 28px;
	position: absolute;
	left: 30px;
	top: 50%;
	margin-top: -14px;
	background: #DADFE4;
	border-radius: 5px;
}

.faq .item .head i:after {
	content: "";
	display: block;
	width: 13px;
	height: 2px;
	background: url(../images/icon/line.svg) no-repeat center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.faq .item .head i:before {
	content: "";
	display: block;
	width: 13px;
	height: 2px;
	background: url(../images/icon/line.svg) no-repeat center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(90deg);
	transition: 0.3s;
}

.faq .item.active .head i:before {
	transform: translate(-50%, -50%) rotate(0deg);
}

.faq .item .head h2 {
	margin: 0;
	font-size: 18px;
	font-weight: 500;
	line-height: 1;
	color: #283847;
	transition: color 500ms ease;
}

.faq .item.active {
	box-shadow: 2px 4px 15px 0px rgba(40,56,71,0.16);
}

.faq .item .body {
	position: relative;
	display: none;
	padding: 0 30px 0 90px;
	color: #1E3058;
}

.faq .item .body .body_inner {
	padding: 25px 0;
	font-size: 14px;
	font-weight: 300;
	line-height: 1.4;
	color: #283847;
	border-top: 1px solid #EAEEF5;
}
/* FAQ End */

/* PageMenu Begin */
.page_menu {
	position: relative;
	display: flex;
	justify-content: center;
	padding-top: 10px;
	margin-bottom: 30px;
	text-align: center;
	/* border-bottom: 1px solid #D2D2D2; */
}

.page_menu:after {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 1px;
	background: #D2D2D2;
}

.page_menu a {
	position: relative;
	display: block;
	padding: 5px 50px 15px;
	font-size: 18px;
	font-weight: 500;
	line-height: 1;
	color: #283847;
	transition: color 500ms ease;
	overflow: hidden;
}

.page_menu a.active {
	padding: 5px 65px 15px;
	font-weight: 600;
	color: #F5780D;
}

.page_menu a:hover {
	color: #F5780D;
}

.page_menu a.active:before {
	content: "";
	display: block;
	width: 8px;
	height: 8px;
	transform: rotate(45deg) translateX(-50%);
	background: #F5780D;
	position: absolute;
	left: 50%;
	bottom: -7px;
}

.page_menu a.active:after {
	content: "";
	display: block;
	height: 1px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0px;
	z-index: 10;
	background: #F5780D;
}
/* PageMenu End */

/* CompanyLogos Begin */
.company_logos .box {
	position: relative;
	overflow: hidden;
	margin-bottom: 20px;
	background: #fff;
	border-radius: 10px;
}

.company_logos .box figure {
	height: 180px;
	line-height: 180px;
	text-align: center;
	overflow: hidden;
}

.company_logos .box .types {
	height: 50px;
	text-align: center;
	background: #D1DFEB;
}

.company_logos .box .types span.line {
	float: left;
	display: block;
	width: 1px;
	height: 30px;
	margin-top: 10px;
	background: #283847;
	opacity: 0.2;
}

.company_logos .box .types a {
	float: left;
	display: block;
	width: calc((100% - 1px) / 2);
	font-size: 18px;
	font-weight: 400;
	line-height: 50px;
	color: #fff;
	vertical-align: top;
	transition: background 500ms ease,  color 500ms ease;
}

.company_logos .box .types a:hover {
	color: #283847;
	background: #B9CCDC;
}
/* CompanyLogos End */

/* CompanyGallery Begin */
.company_gallery .box {
	position: relative;
	margin-bottom: 30px;
	overflow: hidden;
	border-radius: 10px;
}

.company_gallery .box .body {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 10;
	opacity: 0;
	visibility: hidden;
	background: rgba(40, 56, 71, 0.52);
	transition: 0.3s ease;
}

.company_gallery .box:hover .body {
	opacity: 1;
	visibility: visible;
}

.company_gallery .box .body a {
	min-width: 100px;
	height: 40px;
	padding: 0 5px;
	font-size: 14px;
	font-weight: 600;
	line-height: 40px;
	color: #fff;
	text-align: center;
	background: #18D3A6;
	border-radius: 5px;
	transition: background 500ms linear;
}

.company_gallery .box .body a:hover {
	background: #0CA781;
}
/* CompanyGallery End */

/* CompanyVideos Begin */
.company_videos .box {
	position: relative;
	margin-bottom: 30px;
	overflow: hidden;
	background: #fff;
	border-radius: 10px;
	transition: 600ms ease;
}

.company_videos .box:hover {
	box-shadow: 5px 10px 15px 0px rgba(40,56,71,0.16);
}

.company_videos .box figure {
	position: relative;
}

.company_videos .box figure:after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10;
	background: rgba(26, 26, 26, 0.6)
}

.company_videos .box figure:before {
	content: "";
	display: block;
	width: 46px;
	height: 46px;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 30;
	transform: translate(-50%,-50%);
	background: url(../images/icon/icon-play-btn.svg) no-repeat center;
	background-size: 100%;
}

.company_videos .box figure img {
	width: 100%;
}

.company_videos .box .body {
	position: relative;
	padding: 15px 20px;
}

.company_videos .box .body h2 {
	margin: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.4;
	color: #283847;
}
/* CompanyVideos End */

/* Certificates Begin */
.certificates {
	position: relative;
	padding: 10px 0;
}

.certificates .box {
	margin-bottom: 30px;
	text-align: center;
}

.certificates .box figure {
	overflow: hidden;
}

.certificates .box figure img {
	width: 100%;
	transition: 0.3s linear;
}

.certificates .box:hover figure img {
	transform: scale(1.05, 1.05);
}

.certificates .box h2 {
	margin: 20px 0 0;
	font-size: 16px;
	font-weight: 600;
	line-height: 1.3;
	color: #49454A;
}

.certificates .box span {
	display: block;
	margin-top: 8px;
	font-size: 14px;
	font-weight: 400;
	line-height: 1;
	color: #49454A;
}
/* Certificates End */

/* ProductList Begin */
.product_list .product_box {
	margin-bottom: 30px;
}
/* ProductList End */

/* LeaderAppeal Begin */
.leader_appeal {
	padding-top: 20px;
}

.leader_info {
	position: relative;
	margin-bottom: 30px;
	padding: 30px;
	background: #fff;
	border-radius: 10px;
	box-shadow: 5px 10px 15px 0px rgba(40,56,71,0.16);
}

.leader_info figure img {
	width: 100%;
	border-radius: 10px;
}

.leader_info h2 {
	margin: 25px 0 0;
	font-size: 20px;
	font-weight: 700;
	line-height: 1;
	color: #283847;
	text-align: center;
}

.leader_info span {
	display: block;
	margin-top: 8px;
	font-size: 16px;
	font-weight: 600;
	line-height: 1;
	color: #737E88;
	text-align: center;
}

.leader_appeal h2.title {
	margin: 0;
	font-size: 26px;
	font-weight: 600;
	line-height: 1;
	color: #283847;
}

.leader_appeal .text {
	position: relative;
	margin-top: 15px;
	padding: 15px 0 0;
	font-size: 14px;
	font-weight: 300;
	line-height: 1.4;
	color: #283847;
}

.leader_appeal .text:before {
	content: "";
	width: 57px;
	height: 50px;
	background: url(../images/icon/left-quote.svg) no-repeat top left;
	background-size: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.leader_appeal .text:after {
	content: "";
	width: 57px;
	height: 50px;
	background: url(../images/icon/right-quote.svg) no-repeat top left;
	background-size: 100%;
	position: absolute;
	bottom: 0;
	right: 0;
}

.signature {
	display: block;
	margin-top: 20px;
	text-align: right;
}
/* LeaderAppeal End */

/* NewsDetail Begin */
.news_detail h1.title {
	margin: 0;
	font-size: 28px;
	font-weight: 600;
	line-height: 1.4;
	color: #283847;
}

.news_detail span.date {
	display: block;
	margin-top: 8px;
	padding-bottom: 7px;
	font-size: 10px;
	font-weight: 400;
	line-height: 1;
	color: #B0B4B7;
	border-bottom: 1px solid rgba(115, 126, 136, 0.15);
}

.news_detail .text {
	margin-top: 15px;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.4;
	color: #283847;
}
/* NewsDetail End */

/* NewsGallery Begin */
#news_gallery {
	margin-top: 30px;
}

#news_gallery figure {
	position: relative;
}

#news_gallery figure i.icon-video {
	display: block;
	width: 30px;
	height: 30px;
	background: url(../images/icon/icon-play-btn.svg) no-repeat center;
	background-size: 100%;
	position: absolute;
	top: 15px;
	left: 15px;
	z-index: 20;
}

#news_gallery figure img {
	border-radius: 10px;
}

#news_gallery .owl-nav div {
	position: absolute;
	top: 50%;
	z-index: 30;
	width: 36px;
	height: 36px;
	margin-top: -18px;
	font-size: 20px;
	color: #231F20;
	line-height: 36px;
	text-align: center;
	background: rgba(255, 255, 255, 0.8);
	border-radius: 50%;
	transition: 500ms linear;
}

#news_gallery .owl-nav div.owl-prev {left: 10px;}
#news_gallery .owl-nav div.owl-next {right: 10px}

#news_gallery .owl-nav div:hover {
	background: rgba(255, 255, 255, 07);
}
/* NewsGallery End */

/* OtherNews Begin */
.other_news {
	position: relative;
	padding: 20px 20px 5px;
	background: #fff;
	border-radius: 10px;
}

.other_news h3 {
	margin: 0 0 5px;
	font-size: 22px;
	font-weight: 600;
	line-height: 1;
	color: #283847;
}

.other_news .box {
	padding: 15px 0;
	border-bottom: 1px solid rgba(115, 126, 136, 0.15);
}

.other_news .box:last-child {
	border: 0;
}

.other_news .box span.date {
	display: block;
	font-size: 10px;
	font-weight: 400;
	line-height: 1;
	color: #B0B4B7;
}

.other_news .box h2 {
	margin: 5px 0 0;
	font-size: 12px;
	font-weight: 400;
	line-height: 1.3;
	color: #283847;
}

.other_news .box h2 a {
	color: #283847;
	transition: color 500ms ease;
}

.other_news .box h2 a:hover {
	color: #F5780D;
}
/* OtherNews End */

/* HSBlock Begin */
.hs_block {
	position: relative;
	margin-bottom: 20px;
	padding: 30px 35px;
	background: #fff;
	border: 1px solid #F5780D;
	border-radius: 10px;
}

.hs_block h4 {
	margin: 0;
	font-size: 18px;
	font-weight: 500;
	line-height: 1;
	color: #283847;
}

.hs_block .text {
	margin-top: 20px;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.4;
	color: #283847;
}

.hs_block .text strong {
	font-weight: 400;
}
/* HSBlock End */

/* PageSearch Begin */
.page_search {
	position: relative;
	padding-top: 10px;
}

.page_search form {
	position: relative;
	height: 46px;
	margin-bottom: 30px;
	overflow: hidden;
	background: #fff;
	border: 1px solid #283847;
	border-radius: 23px;
}

.page_search form input[type="text"] {
	display: block;
	width: 100%;
	height: 100%;
	padding: 0 20px 0 45px;
	font-size: 13px;
	font-weight: 300;
	line-height: 1;
	color: #283847;
	background: #fff;
	border: 0;
}

.page_search form input[type="text"]::-webkit-input-placeholder {color: #C4C4C4;}
.page_search form input[type="text"]::-moz-placeholder {color: #C4C4C4;}

.page_search form button[type="submit"] {
	display: block;
	padding: 0;
	font-size: 13px;
	color: #F5780D;
	border: 0;
	background: transparent;
	position: absolute;
	top: 14px;
	left: 21px;
	z-index: 5;
}

.search_word {
	display: block;
	font-size: 22px;
	font-weight: 600;
	line-height: 1;
	color: #F5780D;
	text-align: center;
}

.result_count {
	display: block;
	margin-top: 10px;
	font-size: 16px;
	font-weight: 500;
	line-height: 1;
	color: #283847;
	text-align: center;
}
/* PageSearch End */

/* SearchResults Begin */
.search_results {
	margin-top: 30px;
	padding-bottom: 10px;
}

.search_results .box {
	position: relative;
	margin-bottom: 30px;
	padding: 25px 30px;
	background: #fff;
	border: 1px solid #D8E0E8;
	border-radius: 5px;
}

.search_results .box h2 {
	margin: 0;
	font-size: 18px;
	font-weight: 500;
	line-height: 1.3;
	color: #283847;
}

.search_results .box h2 a {
	color: #283847;
	transition: color 500ms ease;
}

.search_results .box h2 a:hover {
	color: #FE5852;
}

.search_results .box p {
	margin: 12px 0 0;
	font-size: 14px;
	font-weight: 300;
	line-height: 1.4;
	color: #737E88;
}

.search_results .box .bottom {
	margin-top: 10px;
	text-align: right;
}

.search_results .box .bottom a {
	font-size: 13px;
	font-weight: 500;
	line-height: 1;
	color: #0068C2;
	transition: color 500ms ease;
}

.search_results .box .bottom a i {
	margin-left: 5px;
}

.search_results .box .bottom a:hover {
	color: #FE5852;
}
/* SearchResults End */

/* Conditions Begin */
.conditions {
	padding: 10px 0 0;
}

.conditions h1.title {
	margin: 0;
	font-size: 26px;
	font-weight: 600;
	line-height: 1;
	color: #283847;
}

.conditions ul {
	margin: 20px 0 0;
}

.conditions li {
	margin-bottom: 15px;
	list-style: inside disc;
	font-size: 14px;
	font-weight: 300;
	line-height: 1.4;
	color: #283847;
}
/* Conditions End */

/* GreyTextBlock Begin */
.grey_text_block {
	position: relative;
}

.grey_text_block figure img {
	border-radius: 10px;
}

.grey_text_block .text_block {
	position: relative;
	padding: 20px 30px 36px;
	background: #E1E7EC;
	border: 1px solid #283847;
	border-radius: 10px;
}

.grey_text_block .text_block h1.title {
	display: flex;
	margin: 0 0 20px;
	font-size: 26px;
	font-weight: 600;
	line-height: 1;
	align-items: center;
	color: #283847;
}

.grey_text_block .text_block h1.title img {
	margin-right: 10px;
}

.grey_text_block .text_block .text {
	font-size: 14px;
	font-weight: 300;
	line-height: 1.5;
	color: #283847;
}
/* GreyTextBlock End */

/* Tenders Begin */
.tenders {
	padding: 10px 0 0;
}

.tenders .table_style {
	margin-bottom: 30px;
}
/* Tenders End */

/* TableStyle Begin */
.table_style table {
	width: 100%;
	margin: 0;
	overflow: hidden;
	box-shadow: 0 0 0 1px #283847;
	border-collapse: collapse;
	border-radius: 10px;
	border-style: hidden;
}

.table_style table td {
	padding: 14px 30px;
	font-size: 14px;
	font-weight: 500;
	line-height: 1;
	color: #283847;
	border: 1px solid #283847;
}

.table_style.ptb20 table td {
	padding-top: 20px;
	padding-bottom: 16px;
}

.table_style.ptb20.l1-4 thead td {
	padding-bottom: 16px;
	line-height: 1.4;
}

.table_style.ptb20.l1-4 td {
	padding-bottom: 18px;
}

.table_style table td.num {
	width: 45px;
	padding: 15px;
	text-align: center;
}

.table_style table thead td {
	font-weight: 700;
	background: #E1E7EC;
}

.table_style table tbody td {
	background: #fff;
}

.table_style table tbody td.btn_td {
	width: 190px;
}

.table_style table tbody td a {
	display: block;
	width: 130px;
	height: 30px;
	font-size: 13px;
	font-weight: 500;
	line-height: 30px;
	text-align: center;
	color: #0068C2;
	border: 1px solid #0068C2;
	border-radius: 5px;
	transition: 500ms ease;
}

.table_style table tbody td a:hover {
	background: #0068C2;
	color: #fff;
}

.table_style table td ul {
	margin: 0;
}

.table_style table td ul li {
	margin-top: 25px;
	font-weight: 400;
}
/* TableStyle End */

/* TenderDetail Begin */
.tender_detail {
	position: relative;
	padding-top: 10px;
}

.tender_detail h1.title {
	margin: 0;
	font-size: 20px;
	font-weight: 600;
	line-height: 1.3;
	color: #283847;
}

.tender_detail .text {
	margin: 10px 0 0;
	font-size: 14px;
	font-weight: 300;
	line-height: 1.4;
	color: #283847;
}
/* TenderDetail End */

/* Technique Begin */
.technique {
	position: relative;
	padding: 20px 0 0;
	background: #fff;
}

.technique_head {
	padding-bottom: 20px;
}

.technique_head figure {
	text-align: center;
}

.technique_head h1.title {
	display: flex;
	margin: 40px 0 0;
	font-size: 28px;
	font-weight: 600;
	line-height: 1;
	color: #F5780D;
	align-items: flex-end;
}

.technique_head h1.title i {
	width: 53px;
	height: 31px;
	margin-right: 10px;
	background: url(../images/icon/icon-combine.svg) no-repeat center;
}

.technique_head .text {
	margin-top: 30px;
	font-size: 14px;
	font-weight: 300;
	line-height: 1.5;
	color: #283847;
}

.techique_list .box {
	margin-bottom: 30px;
}

.techique_list .box a {
	display: block;
	overflow: hidden;
	background: #fff;
	border-radius: 10px;
	box-shadow: 5px 10px 15px 0px rgba(0,0,0,0.16);
	transition: box-shadow 500ms ease;
}

.techique_list .box a:hover {
	box-shadow: 5px 10px 15px 0px rgba(0,0,0,0.3);
}

.techique_list .box a figure {
	padding: 20px;
}

.techique_list .box a .body {
	padding: 15px;
	text-align: center;
	background: #E8F2FB;
}

.techique_list .box a .body h2 {
	margin: 0;
	font-size: 14px;
	font-weight: 600;
	line-height: 1;
	color: #315577;
}

.techique_list .box a .body span {
	display: block;
	margin: 5px 0 0;
	font-size: 14px;
	font-weight: 500;
	line-height: 1;
	color: #315577;
}
/* Technique End */

/* SideMenu Begin */
.sidemenu {
	position: relative;
	background: #fff;
	overflow: hidden;
	border-radius: 10px;
}

.sidemenu ul {
	margin: 0;
}

.sidemenu ul li a {
	position: relative;
	display: block;
	padding: 20px 20px 16px;
	font-size: 14px;
	font-weight: 500;
	line-height: 1;
	color: #283847;
	transition: 500ms ease;
}

.sidemenu ul li a:hover {
	padding-left: 38px;
}

.sidemenu ul li.active a {
	padding-left: 38px;
	background: #F5780D;
	color: #fff;
}

.sidemenu ul li a:after {
	content: "";
	display: block;
	width: 10px;
	height: 10px;
	background: url(../images/arrow/arrow-caret-right.svg) no-repeat center;
	background-size: 100%;
	position: absolute;
	left: 0px;
	top: 50%;
	margin-top: -4px;
	opacity: 0;
	visibility: hidden;
	transition: 500ms ease;
}

.sidemenu ul li a:hover:after {
	opacity: 1;
	visibility: visible;
	left: 17px;
}

.sidemenu ul li.active a:after {
	background: url(../images/arrow/arrow-caret-right-white.svg) no-repeat center;
	opacity: 1;
	visibility: visible;
	left: 17px;
}
/* SideMenu End */

/* About Begin */
.about {
	padding: 10px 0 0;
}

.about_text {
	position: relative;
	padding: 35px 35px 25px;
	font-size: 14px;
	font-weight: 300;
	line-height: 1.5;
	color: #283847;
	background: #fff;
	border: 1px solid #0068C2;
	border-radius: 10px;
}

.about_text:before {
	content: "";
	width: 57px;
	height: 50px;
	background: url(../images/icon/left-quote2.svg) no-repeat top left;
	background-size: 100%;
	position: absolute;
	top: 30px;
	left: 35px;
}

.about_text:after {
	content: "";
	width: 57px;
	height: 50px;
	background: url(../images/icon/right-quote2.svg) no-repeat top left;
	background-size: 100%;
	position: absolute;
	bottom: 30px;
	right: 35px;
}


.about_text hr {
	position: relative;
	left: -35px;
	width: calc(100% + 70px);
	border-top: 1px dashed #0068C2;
}

.pdf_download {
	display: block;
	width: 270px;
	max-width: 100%;
	height: 44px;
	margin-top: 40px;
	padding-left: 68px;
	font-size: 14px;
	font-weight: 500;
	line-height: 44px;
	color: #fff;
	background: #0068C2 url(../images/icon/icon-download.svg) no-repeat left 45px center;
	border-radius: 5px;
	transition: background 500ms ease;
}

.pdf_download:hover {
	color: #fff;
	background-color: #075293;
}
/* About End */

/* OrangeContentBlock Begin */
.orange_content_block {
	position: relative;
	padding: 30px 30px 30px;
	overflow: hidden;
	background: #fff;
	border: 1px solid #F5780D;
	border-radius: 10px;
}

.orange_content_block.photo_block {
	padding: 0;
}

.orange_content_block.photo_block figure img {
	width: 100%;
}

.orange_content_block.photo_block .title {
	margin-top: 30px;
}

.orange_content_block.photo_block .title h1 {
	font-size: 22px;
}

.orange_content_block.photo_block .text {
	padding: 0 30px 30px 0;
}

.orange_content_block .title {
	display: flex;
	align-items: center;
}

.orange_content_block .title img {
	margin-right: 20px;
}

.orange_content_block .title h1 {
	margin: 0;
	font-size: 26px;
	font-weight: 600;
	line-height: 1;
	color: #F5780D;
}

.orange_content_block .text {
	margin-top: 20px;
	font-size: 14px;
	font-weight: 300;
	line-height: 1.5;
	color: #283847;
}

.orange_content_block .text ul {
	padding-left: 15px;
}

.orange_content_block ul {
	margin: 0 0 10px;
}

.orange_content_block ul.list {
	margin-top: 30px;
}

.orange_content_block ul.list li {
	position: relative;
	margin: 0;
	padding-bottom: 15px;
	padding-left: 30px;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.4;
	color: #283847;
}

.orange_content_block ul.list li strong {
	font-size: 18px;
	font-weight: 600;
}

.orange_content_block ul.list li:before {
	content: "";
	display: block;
	width: 9px;
	height: 9px;
	background: #fff;
	border: 2px solid #F5780D;
	border-radius: 50%;
	position: absolute;
	top: 7px;
	left: 0;
	z-index: 11;
}

.orange_content_block ul.list li:not(.only):after {
	content: "";
	display: block;
	width: 1px;
	position: absolute;
	top: 0;
	left: 4px;
	bottom: 0;
	z-index: 10;
	border-right: 1px dashed #F5780D;
}

.orange_content_block ul.list li:first-child:after {
	top: 14px;
}

.orange_content_block ul.list li:last-child {
	padding-bottom: 0;
}
/* OrangeContentBlock End */

/* EnterpriseAboutBlocks Begin */
.enterprise_about_blocks {
	margin-top: 35px;
}

.enterprise_about_blocks .block {
	margin-bottom: 30px;
	padding: 30px 30px 20px;
	font-size: 14px;
	font-weight: 300;
	line-height: 1.4;
	color: #283847;
	background: #E1E7EC;
	border: 1px dashed #283847;
	border-radius: 10px;
}
/* EnterpriseAboutBlocks End */

/* EnterpriseAboutBoxs Begin */
.enterprise_about_boxs {
	position: relative;
	margin-top: 30px;
	margin-bottom: 0;
	background: #E1E7EC;
	border: 1px solid #0068C2;
	border-radius: 10px;
}

.enterprise_about_boxs li {
	position: relative;
	padding: 30px 30px 30px 60px;
	font-size: 14px;
	font-weight: 300;
	line-height: 1.4;
	color: #283847;
	border-bottom: 1px dashed #0068C2;
}

.enterprise_about_boxs li:last-child {
	border: 0;
}

.enterprise_about_boxs li:before {
	content: "";
	display: block;
	width: 9px;
	height: 9px;
	border: 1px solid #0068C2;
	border-radius: 50%;
	position: absolute;
	top: 33px;
	left: 30px;
	z-index: 11;
}
/* EnterpriseAboutBoxs End */

/* EnterpriseAboutBlockBlue Begin */
.enterprise_about_block_blue {
	position: relative;
	margin-top: 30px;
	padding: 30px;
	background: #fff;
	border: 1px dashed #0068C2;
	border-radius: 10px;
}

.enterprise_about_block_blue ul {
	margin: 0;
}

.enterprise_about_block_blue ul li {
	position: relative;
	margin-bottom: 20px;
	padding-left: 30px;
	font-size: 14px;
	font-weight: 300;
	line-height: 1.4;
	color: #283847;
}

.enterprise_about_block_blue ul li:last-child {
	margin: 0;
}

.enterprise_about_block_blue ul li:before {
	content: "";
	display: block;
	width: 8px;
	height: 8px;
	background: url(../images/arrow/arrow-caret-right-blue.svg) no-repeat center;
	background-size: 100%;
	position: absolute;
	top: 5px;
	left: 0;
}
/* EnterpriseAboutBlockBlue End */

/* Sxem Begin */
.sxem {
	padding: 50px 0 0;
	overflow: hidden;
	text-align: center;
}
/* Sxem End */

.iplik_photo img {
	width: 100%;
	border-radius: 10px;
}

/* OtherProducts Begin */
#other_products .owl-nav div {
	position: absolute;
	top: 50%;
	z-index: 30;
	width: 36px;
	height: 36px;
	margin-top: -18px;
	font-size: 19px;
	color: #231F20;
	line-height: 36px;
	text-align: center;
	background: rgba(255, 255, 255, 0.8);
	border-radius: 50%;
	transition: 500ms linear;
}

#other_products .owl-nav div.owl-prev {left: 10px;}
#other_products .owl-nav div.owl-next {right: 10px}

#other_products .owl-nav div:hover {
	background: rgba(255, 255, 255, 07);
}

.other_products .box {
	position: relative;
	margin-bottom: 30px;
	background: #DDF1D5;
	border-radius: 10px;
}

.other_products.owl-carousel .box {
	margin: 0;
}

.other_products .box a {
	display: block;
	width: 100%;
	height: 100%;
	min-height: 200px;
	padding: 25px;
}

.other_products .box h2 {
	margin: 10px 0 0;
	font-size: 26px;
	font-weight: 600;
	line-height: 1;
	text-align: center;
}

.other_products .box figure {
	padding: 10px 15px 0;
}

.other_products .box.clr_green {background: #DDF1D5;}
.other_products .box.clr_orange {background: #FEE7D5;}
.other_products .box.clr_red {background: #FCE0DF;}
.other_products .box.clr_blue {background: #DBE5F3;}
.other_products .box.clr_pink {background: #F2DEFF;}

.other_products .box.clr_green h2 {color: #3E9F17;}
.other_products .box.clr_orange h2 {color: #F5780D;}
.other_products .box.clr_red h2 {color: #FE5852;}
.other_products .box.clr_blue h2 {color: #3A4D5E;}
.other_products .box.clr_pink h2 {color: #B465F1;}
/* OtherProducts End */

/* Error404 Begin */
.error404 {
	position: relative;
	padding: 20px 0 150px;
	background: url(../images//bg/error404-bg.png) no-repeat center;
	background-size: cover;
}

.error404_inner {
	padding: 70px 0 0;
	text-align: center;
}

.error404_inner p {
	margin: 0;
	font-size: 26px;
	font-weight: 600;
	line-height: 1;
	color: #fff;
}

.error404_inner a {
	color: #0068C2;
	margin: 20px auto 0;
	transition: color 500ms ease;;
}

.error404_inner a:hover {
	color: #fff;
}

.error404_inner a.btn_more:before,
.error404_inner a.btn_more:after {
	width: 0px;
}

.error404_inner a.btn_more:hover:before,
.error404_inner a.btn_more:hover:after {
	width: 50%;
}
/* Error404 End */

/* GreyContentBlock Begin */
.grey_content_block {
	position: relative;
	padding: 30px;
	background: #E1E7EC;
	border: 1px solid #283847;
	border-radius: 10px;
}

.grey_content_block.bg-white {
	background: #fff;
}

.grey_content_block figure {
	text-align: center;
}

.grey_content_block .title {
	display: flex;
	align-items: center;
}

.grey_content_block .title img {
	margin-right: 20px;
}

.grey_content_block .title h1 {
	margin: 0;
	font-size: 26px;
	font-weight: 600;
	line-height: 1;
	color: #283847;
}

.grey_content_block .text {
	margin-top: 20px;
	font-size: 14px;
	font-weight: 300;
	line-height: 1.5;
	color: #283847;
}
/* GreyContentBlock End */

/* ProductInfo Begin */
.product_info {
	position: relative;
	padding: 10px 0 0;
}

.product_info .row {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.product_info .row .col-md-4 {
	align-self: flex-start;
}

.product_info figure img {
	width: 100%;
	border-radius: 10px;
}

.product_info .body {
	padding: 5px 15px;
	background: url(../images/bg/text_bg.svg) no-repeat top left;
	background-size: 100%;
}

.product_info h1.title {
	display: flex;
	margin: 0;
	align-items: center;
	font-size: 26px;
	font-weight: 600;
	line-height: 1;
	color: #283847;
}

.product_info h1.title img {
	margin-right: 10px;
}

.product_info h1.title span {
	font-weight: 400;
}

.product_info .text {
	position: relative;
	margin-top: 20px;
	font-size: 14px;
	font-weight: 300;
	line-height: 1.5;
	color: #283847;
}
/* ProductInfo End */

.chart_wrapper {
	position: relative;
	padding: 25px 25px 25px 0;
	overflow: hidden;
	background: #fff;
	border-radius: 10px;
}

.chart_wrapper.p20 {
	padding: 20px;
}

.chart_wrapper h1.title {
	margin: 0;
	padding-left: 25px;
	font-size: 20px;
	font-weight: 600;
	line-height: 1;
	color: #283847;
	text-align: center;
}

.chart_wrapper h2.title {
	margin: 0;
	font-size: 14px;
	font-weight: 600;
	line-height: 1;
	color: #F5780D;
}

.chart_wrapper h1.title span {
	font-weight: 400;
}

/* Branchs Begin */
.branchs {
	padding: 40px 45px;
	background: #fff;
	border: 1px solid #F5780D;
	border-radius: 10px;
}

.map path.active {
	cursor: pointer;
	transition: 500ms ease;
}

.map path.active {
	fill: #b2c4d7;
}

.map path.active.show,
.map path.active:hover {
	fill: #F5780D;
}

.branchs .col-sm-7 {
	display: flex;
	align-items: center;
}

.branch_info {
	position: relative;
	width: 100%;
	padding: 20px 25px;
	background: #EBEFF3;
	border: 1px solid #283847;
	border-radius: 10px;
}

.branch_info h1.title {
	margin: 0 0 20px;
	font-size: 20px;
	font-weight: 600;
	line-height: 1;
	color: #F5780D;
}

.branch_info table {
	width: 100%;
}

.branch_info table tr:first-child {
	border-bottom: 1px solid #D8E1EB;
}

.branch_info table th {
	width: 25%;
	padding: 8px 0;
	font-size: 14px;
	font-weight: 500;
	line-height: 1;
	color: #283847;
}

.branch_info table tr:nth-child(2) td {
	padding-top: 16px;
}

.branch_info table td {
	padding: 8px 0;
	font-size: 13px;
	font-weight: 300;
	line-height: 1;
	color: #283847;
}

.branch_info .block {
	display: none;
}