.error_message{
    padding-right: 20px;
    color: #ff2423;
    font-weight: 400;
}
.error-item{
    border:1px solid #ff2423 !important;
}

.s_form{
    display: none;
}

#subscribeBox{
    margin-top: 7px;
    color: white;
    font-size: 13px;
}

.ln-37{
    line-height: 37px !important;
}

.mt-30{
    margin-top: 30px !important;
}
.banner .inner{
    background: none !important;
}
.product_box h2 {
    font-size: 30px !important;
}




/*new css by seo*/

/*Slider*/

#slider .item .caption h1.frst {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    color: #fff;
}

#slider .item .caption h1.lst {
    margin: 20px 0 12px;
    font-size: 50px;
    font-weight: 500;
    line-height: 1.1;
    color: #fff;
}


.head_title h2.ns {
    margin: 0;
    font-size: 36px;
    font-weight: 600;
    line-height: 1;
    color: #283847;
}

.head_title h1.kv_title {
    margin: 0;
    font-size: 30px;
    font-weight: 600;
    line-height: 1;
    color: #283847;
}

.head_title.small h2.ns {
    font-size: 22px;
}

.head_title h2.ns:after {
    content: "";
    display: block;
    width: 68px;
    height: 3px;
    margin-top: 4px;
    background: url(../images/bg/title_bg.svg) no-repeat left top;
}

.head_title.small h2.ns:after {
    margin-top: 10px;
    background: url(../images/bg/title_bg_small.svg) no-repeat left top;
}

.leader_appeal h1.title {
    margin: 0;
    font-size: 26px;
    font-weight: 600;
    line-height: 1;
    color: #283847;
}


.form h2 {
    margin: 0 0 25px;
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
    color: #283847;
    text-align: center;
}



.branch_info h2.title {
    margin: 0 0 20px;
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
    color: #F5780D;
}

/*products
*/

.chart_wrapper h2.title_s {
    margin: 0;
    padding-left: 25px;
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
    color: #283847;
    text-align: center;
}

.chart_wrapper h2.title_s span {
    font-weight: 400;
}


.orange_content_block.photo_block .title h2 {
    font-size: 22px;
}

.orange_content_block .title h2 {
    margin: 0;
    font-size: 26px;
    font-weight: 600;
    line-height: 1;
    color: #F5780D;
}

.grey_text_block .text_block h2.title {
    display: flex;
    margin: 0 0 20px;
    font-size: 26px;
    font-weight: 600;
    line-height: 1;
    align-items: center;
    color: #283847;
}

.grey_text_block .text_block h2.title img {
    margin-right: 10px;
}

